body{
    margin: 0%;
}

.layout{
    background-color: rgb(215, 223, 250);
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

app-pokemon-list-component{
    width: 25%;
}

app-pokemondetailcomponent{
    width: 75%;
}